<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.30000.16" newVersion="5.1.30000.16" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>